:root {
	--branco1: #f2f3f8;
	--branco2: white;
	--preto: #2e3436;
}

*{
	padding: 0px;
	margin: 0px;	
}

body{
	display: flex;
	flex-direction: column;	
	align-items: center;
	
	background-color: var(--preto);	
}

#principal{
	display: flex;
	margin: 0px 10px 0px 10px;
		
	width: 95%;
	height: 70%;	
	
	border-radius: 2%;
	
	background-color: var(--branco2);	
}

.sub-principal{
	display: flex;
	flex-direction: column;
	padding: 10px;
		
	width: 50%;
}

#div-codigo-fonte{
	border-right: 1px solid var(--preto);
}

#div-previa{		
	border-left: 1px solid var(--preto);
}

.titulo{
	margin: 5px;	
	color: var(--branco1);
}

.subtitulo{	
	color: var(--preto);
	margin: 10px;	
}

.corpo{
	margin: 0 10px 10px 10px;
	height: 75vh;
}

#codigo-fonte{	
	padding: 5px;
	
	resize: none;	
}

#previa{	
	padding-top: 10px;
	padding-left: 35px;
		
	overflow: scroll;	
}

#codigo-fonte, #previa{		
	border: 1px solid var(--preto);	
	border-radius: 1%;
}
